In [82]:
import pandas as pd
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.utils import shuffle

df = pd.read_csv("diet.csv",index_col=0)
df2 = pd.read_csv('iris.csv')
df2

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [84]:
cluster = list(df2['species'])
df2['cluster'] = pd.Series(cluster)

df2['cluster'].index
df2

,sepal_length,sepal_width,petal_length,petal_width,species,cluster
0,5.1,3.5,1.4,0.2,setosa,setosa
1,4.9,3.0,1.4,0.2,setosa,setosa
2,4.7,3.2,1.3,0.2,setosa,setosa
3,4.6,3.1,1.5,0.2,setosa,setosa
4,5.0,3.6,1.4,0.2,setosa,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,virginica
146,6.3,2.5,5.0,1.9,virginica,virginica
147,6.5,3.0,5.2,2.0,virginica,virginica
148,6.2,3.4,5.4,2.3,virginica,virginica
149,5.9,3.0,5.1,1.8,virginica,virginica

In [85]:
df2 = shuffle(df2)

In [87]:
cluster = list(df2['species'])
print(cluster)
df2['cluster'] = pd.Series(cluster)
df2

,sepal_length,sepal_width,petal_length,petal_width,species,cluster
141,6.9,3.1,5.1,2.3,virginica,virginica
105,7.6,3.0,6.6,2.1,virginica,virginica
11,4.8,3.4,1.6,0.2,setosa,setosa
127,6.1,3.0,4.9,1.8,virginica,virginica
97,6.2,2.9,4.3,1.3,versicolor,versicolor
...,...,...,...,...,...,...
88,5.6,3.0,4.1,1.3,versicolor,versicolor
117,7.7,3.8,6.7,2.2,virginica,virginica
50,7.0,3.2,4.7,1.4,versicolor,versicolor
77,6.7,3.0,5.0,1.7,versicolor,versicolor
48,5.3,3.7,1.5,0.2,setosa,setosa

In [92]:
cluster = list(df2['species'])
df2['cluster'] = pd.Series(cluster)

In [93]:
df2

,sepal_length,sepal_width,petal_length,petal_width,species,cluster
141,6.9,3.1,5.1,2.3,virginica,versicolor
105,7.6,3.0,6.6,2.1,virginica,versicolor
11,4.8,3.4,1.6,0.2,setosa,virginica
127,6.1,3.0,4.9,1.8,virginica,virginica
97,6.2,2.9,4.3,1.3,versicolor,setosa
...,...,...,...,...,...,...
88,5.6,3.0,4.1,1.3,versicolor,virginica
117,7.7,3.8,6.7,2.2,virginica,virginica
50,7.0,3.2,4.7,1.4,versicolor,versicolor
77,6.7,3.0,5.0,1.7,versicolor,virginica
48,5.3,3.7,1.5,0.2,setosa,versicolor